@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700&family=Lato:wght@400;700&display=swap');


body {
 background-color: #000000;
 color: #fff;
 margin: 0;
 padding: 0;
}
  
  body {
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  
  #root {
    position: relative;
    z-index: 1;
  }


h1, h2, h3, h4, h5, h6 {
 font-family: 'Arial', sans-serif;
}


h4 {
 color: white;
 font-size: 22px;
}


.app {
 width: 90%;
 height: 60%;
 margin: 1;
 background-color: #1a1a1a;
}


.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 10px;
 height: 15px;
 background-color: #666;
}


.logo {
 height: 10px;
}


.header-actions {
 display: flex;
 gap: 0px;
}


.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #1a1a1a;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.paragraph {
  flex: 1;
  margin-left: 20px;
}


.main-content {
 display: flex;
 padding: 10px;
}


.left-column {
 flex: 0.8;
 margin-right: 10px;
}


.right-column {
 flex: 2;
}


h2, h3 {
 color: #1ED760;
 font-size: 14px;
 margin-top: 0;
}


.header-content {
 display: flex;
 align-items: center;
}


.shreya-image {
 width: 100%;
 height: auto;
}


.logo {
 width: 30px;
 height: 30px;
 margin-right: 1rem;
}


h1 {
 margin: 0;
 color: white
}


.footer {
 background-color: #000;
 color: #666;
 text-align: center;
 padding: 5px;
 font-size: 10px;
}

.typewriter {
 display: inline-block;
 overflow: hidden;
 border-right: .15em solid white;
 white-space: nowrap;
 margin: 0;
 letter-spacing: .15em;
 animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
 from, to { border-color: transparent }
 50% { border-color: white; }
}

.research-content {
 padding: 20px;
 background-color: #000000;
}

.research-title {
 color: white;
 font-size: 36px;
 margin-bottom: 20px;
 text-transform: uppercase;
}

.project-links-container {
 display: flex;
 justify-content: center;
 width: 100%;
}

.project {
 width: 100%;
 margin-bottom: 20px;
 background-color: #1a1a1a;
 padding: 20px;
 border: 1px solid #1ED760;
 box-sizing: border-box;
 display: flex;
 flex-direction: column;
 align-items: center;
}


.project-image {
  width: 60%;
  height: auto;
  object-fit: contain;
}


.project-title {
 color: white;
 font-size: 24px;
 margin-bottom: 10px;
}


.project-description {
 color: #ffffff;
 font-size: 16px;
 margin-bottom: 15px;
}


.project-link {
 display: inline-block;
 background-color: black;
 color: white;
 padding: 8px 15px;
 text-decoration: none;
 font-weight: bold;
 align-items: center;
 margin-right: 10px;
}


.project-link:hover {
 background-color: white;
 color: black;
}

.custom-link {
    color: #666;
    text-decoration: none;
}

.popular-track-row {
  transition: background 0.2s;
  border-radius: 12px;
}

.popular-track-row:hover, .popular-track-row:focus {
  background: rgba(220, 220, 220, 0.25); /* light gray, semi-opaque */
  border-radius: 12px;
  outline: none;
}
