/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #fff;
  margin: 0;
  padding: 0;
}

.app {
  width: 760px;
  margin: 0 auto;
  background-color: #1a1a1a;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #666;
}

.logo {
  height: 40px;
}

.header-actions {
  display: flex;
  gap: 10px;
}

.navigation {
  background-color: #000000;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  padding: 5px 10px;
  position: relative;
}

.navigation li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 1px;
  background-color: #fff; /* Line color */
}

.navigation a {
  color: #ffffff; /* Text color */
  text-decoration: none;
  font-size: 12px;
  display: block; /* Make the link fill the li */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.navigation a:hover {
  background: linear-gradient(to right, #7cfc00, #32cd32); /* Gradient background */
  color: #000; /* Keep text color black on hover */
}

.main-content {
  display: flex;
  padding: 10px;
}

.left-column {
  flex: 2;
  margin-right: 10px;
}

.right-column {
  flex: 1;
}

.featured-content img {
  width: 100%;
  height: auto;
}

.news, .quick-links {
  background-color: #333;
  padding: 10px;
  margin-top: 10px;
}

h2, h3 {
  color: #7cfc00;
  font-size: 14px;
  margin-top: 0;
}

.header-content {
  display: flex;
  align-items: center;
}

.shreya-image {
  width: 350px;
  height: auto; /* Maintains aspect ratio */
}

.logo {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  margin-right: 1rem;
}

h1 {
  margin: 0;
  color: #7cfc00
}

.news ul, .quick-links ul {
  list-style-type: none;
  padding-left: 0;
}

.news li, .quick-links li {
  font-size: 12px;
  margin-bottom: 5px;
}

.quick-links a {
  color: #7cfc00;
  text-decoration: none;
}

.footer {
  background-color: #000;
  color: #666;
  text-align: center;
  padding: 5px;
  font-size: 10px;
}
