body {
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
 }
 
 
 .app {
  width: 100%;
  margin: 0 auto;
  background-color: #1a1a1a;
 }
 
 
 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000;
 }
 
 .navigation {
  background-color: #333;
 }
 
 
 .navigation ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
 }
 
 
 .navigation li {
  padding: 5px 10px;
 }
 
 
 .navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
 }
 
 
 h1 {
  font-size: 28px;
  text-align: left
 }
 
 .footer {
  background-color: #000;
  color: #666;
  text-align: center;
  padding: 5px;
  font-size: 10px;
 } 