.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff; 
}

.logo-items {
    list-style: none;
    display: flex;
    gap: 30px; 
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-logo {
    height: 30px; 
}

.shreya-pic {
    width: 30%; 
}

.intro-wrapper {
    display: flex;
    align-items: center; /* Align items vertically centered */
    gap: 20px; /* Add space between the image and the text */
}

.footer {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Center items vertically */
    padding: 10px 20px; /* Add some padding */
    background-color: #ffffff; /* Optional: add a background color */
}

.about-section {
    font-size: 1.2em; /* Increase the font size */
    word-spacing: 0.1em; /* Increase the spacing between words */
}